<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<false/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1103</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1505</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1505S</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1505W</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1505SW</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-1504</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>云南</string>
			<string>贵州</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ25-H13M7</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
		</array>
		<key>waterCount</key>
		<integer>2</integer>
		<key>cities</key>
		<array>
			<string>河北</string>
			<string>山西</string>
			<string>内蒙古</string>
			<string>辽宁</string>
			<string>吉林</string>
			<string>黑龙江</string>
			<string>山东</string>
			<string>河南</string>
			<string>甘肃</string>
			<string>宁夏</string>
			<string>新疆</string>
		</array>
		<key>quality</key>
		<false/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSG25-1503</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<false/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1506</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1509</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1509S</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1509S</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1509W</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1509SW</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1510W</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1510SW</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-1508</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ31-H16M7</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>河北</string>
			<string>山西</string>
			<string>内蒙古</string>
			<string>辽宁</string>
			<string>吉林</string>
			<string>黑龙江</string>
			<string>山东</string>
			<string>河南</string>
			<string>甘肃</string>
			<string>宁夏</string>
			<string>新疆</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSG31-1507</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>河北</string>
			<string>山西</string>
			<string>内蒙古</string>
			<string>辽宁</string>
			<string>吉林</string>
			<string>黑龙江</string>
			<string>山东</string>
			<string>河南</string>
			<string>甘肃</string>
			<string>宁夏</string>
			<string>新疆</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSG31-1507S</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨一卫</string>
			<string>一厨二卫</string>
			<string>一厨三卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>河北</string>
			<string>山西</string>
			<string>内蒙古</string>
			<string>辽宁</string>
			<string>吉林</string>
			<string>黑龙江</string>
			<string>山东</string>
			<string>河南</string>
			<string>甘肃</string>
			<string>宁夏</string>
			<string>新疆</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSG31-1507S</string>
	</dict>
	<dict>
		<key>houses</key>
		<array>
			<string>一厨三卫</string>
			<string>二厨多卫</string>
		</array>
		<key>waterCount</key>
		<integer>3</integer>
		<key>cities</key>
		<array>
			<string>北京</string>
			<string>天津</string>
			<string>上海</string>
			<string>江苏</string>
			<string>浙江</string>
			<string>安徽</string>
			<string>福建</string>
			<string>江西</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>广东</string>
			<string>广西</string>
			<string>重庆</string>
			<string>四川</string>
			<string>贵州</string>
			<string>云南</string>
			<string>陕西</string>
		</array>
		<key>quality</key>
		<true/>
		<key>wifi</key>
		<false/>
		<key>temperature</key>
		<true/>
		<key>number</key>
		<string>JSQ38-1513S</string>
	</dict>
</array>
</plist>
